<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.amonsoft.mapper.doc.Doc1020Mapper">

    <select id="findExpenseDetailsByDocId" resultType="camelcasemap">
        SELECT doc_id
             , expense_id
             , expense_date
             , expense_item
             , store_name
             , usage_detail
             , remark
             , expense_type
             , corporate_card_number
             , created_id
             , created_date
             , updated_id
             , updated_date
             , expense_amount
        FROM expense_detail
        WHERE doc_id = #{docId}
    </select>

    <insert id="insertExpenseDetail">
        INSERT INTO expense_detail(
            doc_id
          , expense_date
          , expense_item
          , store_name
          , usage_detail
          , remark
          , expense_type
          , corporate_card_number
          , created_id
          , created_date
          , updated_id
          , updated_date
          , expense_amount
        )
        VALUES (
             #{docId}
           , #{expenseDate}
           , #{expenseItem}
           , #{storeName}
           , #{usageDetail}
           , #{remark}
           , #{expenseType}
           , #{corporateCardNumber}
           , #{userId}
           , DATE_FORMAT(NOW(), '%Y%m%d %H%i%s')
           , #{userId}
           , DATE_FORMAT(NOW(), '%Y%m%d %H%i%s')
           , #{expenseAmount}
       )
    </insert>


</mapper>