<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.amonsoft.mapper.doc.Doc1040Mapper">

    <select id="getApprovalId" resultType="map">
        SELECT CONCAT('amon-', DATE_FORMAT(NOW(), '%Y%m%d'), '-', 
               IFNULL(MAX(CAST(SUBSTRING_INDEX(approval_id, '-', -1) AS UNSIGNED)) + 1, 1)) AS approval_id 
		  FROM approval_request
		 WHERE approval_id LIKE CONCAT('amon-', DATE_FORMAT(NOW(), '%Y%m%d'), '-%')
    </select>

	<insert id="insertApprovalRequest">
		INSERT INTO approval_request
		     ( doc_id
			 , approval_id
			 , draft_date
			 , department
			 , drafter
			 , approval_title
			 , approval_content
			 , instructions
			 , reference_doc_id
			 , remark
			 , created_id
			 , created_date
			 , updated_id
			 , updated_date)
	  	VALUES 
	  		 ( #{docId} 
	  		 , #{approval_id}
			 , #{draft_date}
			 , #{department}
			 , #{drafter}
			 , #{approval_title}
			 , #{approval_content}
			 , #{instructions}
			 , #{reference_doc_id}
			 , #{remark}
			 , #{userId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			 , #{userId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'))
	</insert>
	
	<insert id="insertTransportExpense">
		INSERT INTO transport_expense_detail
		     ( doc_id
			 , expense_date
			 , vehicle_start
			 , vehicle_end
			 , vehicle_purpose
			 , visit_description
			 , expense_amount
			 , remark
			 , created_id
			 , created_date
			 , updated_id
			 , updated_date )
	  	VALUES 
	  		 ( #{docId} 
	  		 , #{expenseDate}
			 , #{vehicleStart}
			 , #{vehicleEnd}
			 , #{vehiclePurpose}
			 , #{visitDescription}
			 , #{expenseAmount}
			 , #{remark}
			 , #{userId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			 , #{userId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'))
	</insert>
	
	<insert id="insertApprovalRequestStep">
        INSERT 
          INTO approval_step
             ( doc_id
             , step_no
             , approver_id
             , status
             , created_id
             , created_date
             , updated_id
             , updated_date)
        VALUES 
        	 ( #{docId}
             , #{approvalStepNo}
             , #{userId}
             , '01'
             , #{userId}
             , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
             , #{userId}
             , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
         )
    </insert>
    
    <select id="findApprovalRequestDetailsByDocId" resultType="map">
        SELECT doc_id
             , approval_id
             , draft_date
             , department
             , drafter
             , approval_title
             , approval_content
             , instructions
             , reference_doc_id
             , remark
             , created_id
             , created_date
             , updated_id
             , updated_date
          FROM approval_request
         WHERE doc_id = #{docId}
    </select>
    
    <select id="findTransportExpenseDetailsByDocId" resultType="camelcasemap">
        SELECT doc_id
             , transport_expense_id
             , expense_date
             , vehicle_start
             , vehicle_end
             , vehicle_purpose
             , visit_description
             , expense_amount
             , remark
             , created_id
             , created_date
             , updated_id
             , updated_date
          FROM transport_expense_detail
         WHERE doc_id = #{docId}
    </select>
    
    <select id="selectReferenceApproval" parameterType="map" resultType="camelcasemap">
        SELECT a.doc_id
             , approval_id
             , draft_date
             , drafter
             , approval_title
          from approval_request a 
		 inner join document d
		    on a.doc_id = d.doc_id 
		 where d.doc_type ='03' and d.doc_status ='03'
 		 ORDER BY d.created_date DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="selectReferenceApprovalCnt" resultType="int">
    	SELECT count(*)
          from approval_request a 
		 inner join document d
		    on a.doc_id = d.doc_id 
		 where d.doc_type ='03' and d.doc_status ='03'
    </select>
    
    <select id="selectReferenceApprovalView" parameterType="map" resultType="camelcasemap">
        SELECT a.doc_id
             , approval_id
             , draft_date
             , drafter
             , approval_title
          from approval_request a 
		 inner join document d
		    on a.doc_id = d.doc_id 
		 where d.doc_type ='03' and d.doc_status ='03'
		   AND d.doc_id IN
		<foreach item="item" collection="reference_doc_id" open="(" separator="," close=")">
			#{item}
		</foreach>
 		 ORDER BY d.created_date DESC
    </select>
    
</mapper>