<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.amonsoft.mapper.com.Com2010Mapper">

    <!-- 캘린더 조회 -->
    <select id="selectCalendarList" resultType="kr.co.amonsoft.dto.com.CalendarListDTO">
        select distinct(d.doc_id) as docId
                      , u.user_id as userId
                      , u.user_name as userName
                      , d.doc_title as docTitle
                      , d.doc_type as docType
                      , ccd.code_detail_name as docTypeNm
                      , vd.vacation_type as content
                      , vd.start_date as startDate
                      , vd.end_date as endDate
        from vacation_detail vd
                 inner join document d
                            on vd.doc_id = d.doc_id
                 inner join common_code_detail ccd
                            on d.doc_type = ccd.code_detail_number
                                and ccd.code_number = 'APV02'
                 inner join user u
                            on d.created_id = u.user_id
        where 1 = 1
          and d.doc_status IN ('02', '03')
        UNION ALL
        select distinct(d.doc_id) as docId
                      , u.user_id as userId
                      , u.user_name as userName
                      , d.doc_title as docTitle
                      , d.doc_type as docType
                      , ccd.code_detail_name as docTypeNm
                      , ted.expense_amount as content
                      , DATE_FORMAT(STR_TO_DATE(d.updated_date, '%Y%m%d %H%i%s'), '%Y-%m-%d') as startDate
                      , DATE_FORMAT(STR_TO_DATE(d.updated_date, '%Y%m%d %H%i%s'), '%Y-%m-%d') as endDate
        from transport_expense_detail ted
                 inner join document d
                            on ted.doc_id = d.doc_id
                 inner join common_code_detail ccd
                            on d.doc_type = ccd.code_detail_number
                 inner join user u
                            on d.created_id = u.user_id
                                and ccd.code_number = 'APV02'
        where 1 = 1
          and d.doc_status = '03'
        UNION ALL
        select distinct(d.doc_id) as docId
                      , u.user_id as userId
                      , u.user_name as userName
                      , d.doc_title as docTitle
                      , d.doc_type as docType
                      , ccd.code_detail_name as docTypeNm
                      , ed.expense_amount as content
                      , DATE_FORMAT(STR_TO_DATE(d.updated_date, '%Y%m%d %H%i%s'), '%Y-%m-%d') as startDate
                      , DATE_FORMAT(STR_TO_DATE(d.updated_date, '%Y%m%d %H%i%s'), '%Y-%m-%d') as endDate
        from expense_detail ed
                 inner join document d
                            on ed.doc_id = d.doc_id
                 inner join common_code_detail ccd
                            on d.doc_type = ccd.code_detail_number
                 inner join user u
                            on d.created_id = u.user_id
                                and ccd.code_number = 'APV02'
        where 1 = 1
          and d.doc_status = '03'
    </select>

</mapper>